* {
    box-sizing: border-box;
}

body {
    font-family: "Dancing Script" , "cursive";
}

#frame {
    color: white;
    height: 1080px;
    width: 1080px;
    background-image: url("images/heart.jpg");
}

#marg {
    height: 10%;
}

#top {
    
    font-size: 80px;
    font-weight: bold;
}

#pix {
    width: 450px;
    height: 450px;
    display: none;
}

button {
    height: 100%;
    width: 100%;
    border: none;
    color: white;
    background-color: red;
    border-radius: 8px;
    font-size:100px;
}

#pic {
    width: 100%;
    height: 100%;
    float: left;
}

#cap {
    float: left;
}

#caption {
    font-size: 40px;
    float: left;
}