body {
    margin: 15px;
    background-color: #93cee3;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header {
    font-size: 35px;    
    text-align: center;
    font-weight: bold;
    background-color: navy;
    color: white;
    height: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

#gif {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 50%;
}

#txt {
    float: left;
    margin-left: auto;
    width: 50%;
    padding: 5%;
}

#fedUp {
    width: 100%;
    margin: auto;
    background-color: red;
    float: left;
}
